{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
<div class="container">
    <div class="text">
        <h2 style="color:var(--color-primary);">Deseja editar<br>sua dieta?</h2>
        <p style="margin-top: 20px;">Altere o campo que desejar e depois clique em <span
                style="color:var(--color-primary);">Salvar</span></p>
                
    </div>
    <section class="col-6">
        <form method="POST" enctype="multipart/form-data">
    
            <!-- Security token -->
            {% csrf_token %}
    
            <!-- Using the formset -->
        
            {{ form }}
            
            <input type="submit" value="Ok" class="btn btn-success mt-2 mb-2">
        </form>
    </section>
</div>
{% endblock %}




