{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    {% include 'partials/_menu.html' %}
    {% include 'partials/_alerts.html' %}
    <link rel="stylesheet" href="{% static 'css/mycss/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mycss/global.css' %}" />
    
    <div class="container">



        <div class="panel">

            <div class="text">
              <h1>Olá, seja bem-vindo(a)<br>a nossa área de dietas!</h1>
              <p>Aqui você pode acompanhar as dietas de outros usuários:</p>
            </div>
            

            <div class="cards">
                {% for dieta in dietas %}
                
                    <div class="card-inner">
    
                        <h3>{{ dieta.nome_dieta }}</h3>
                        <div class="with-css">
                            <p>{{ dieta.dias_semana }}</p>
                        </div>
                        <img class="" src="{% static 'images/diet-img.svg' %}"></img>
    
                        <div class="info">
                        <div class="info-text">
                            <p class="gram">{{ dieta.carbo }} gramas</p>
                            <p class="kcal">{{ dieta.calorias }} kcal</p>
                        </div>
                        <a class="icon-visualization" href="{%url 'view_dieta' dieta.id%}"><img class="" src="{% static 'images/icon-visualization.svg' %}" ></img></a>
                        </div>
    
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    {% include "partials/_paginatorProdutos.html" %}

{% endblock %}