{% load static %}
  <link rel="stylesheet" href="{% static 'css/mycss/menu.css' %}" />
  <link rel="stylesheet" href="{% static 'css/mycss/global.css' %}" />
<header>
    <nav class="nav-menu">
      <img class="logo" src="{% static 'images/logo-green.svg' %}"></img>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="text-menu" href="{% url 'index' %}">Home</a></li>
        {% if  user.is_authenticated %}
        <li><a class="text-menu" href="{% url 'minhas_receitas' %}">Minhas Dietas</a></li>
        <li><a class="text-menu" href="{% url 'logout' %}">Sair</a></li>
        {% endif %}

        {% if not user.is_authenticated %}
        <li><a class="text-menu" href="{% url 'minhas_receitas' %}">Minhas Dietas</a></li>
        <li><a class="text-menu" href="{% url 'login' %}">Fazer Login</a></li>
        {% endif %}
      </ul>
    </nav>
</header>